.navigation {
    background-color: rgb(18, 230, 64);
}

.navigation_list {
    display: flex;
}

.navigation_item {
    list-style-type: none;
    margin-right: 15px;
}

.navigation_link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 700;
}
